* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;
}

main {
  /* border: 0.5rem solid #C05245; */
  padding: 1rem;
  margin: auto;
}

.container {
  padding: 1rem;
  width: 80vw;
  margin: auto;
}

.box {
  background: #222;
  margin: auto;
  padding: 2rem;
  color: rgb(180, 73, 62);
}

img {
  display: block;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  margin: auto;
}

.text-medium {
  font-size: 2rem;
}
.text-large {
  font-size: 4rem;
}

.text-white {
  color: white;
  opacity: 0.75;
}

.border-red {
  border: 2px solid rgb(180, 73, 62);
}

.relative {
  position: relative;
}

.look {
  width: 100%;
  height: 100%;
  font-size: 25rem;
  color: white;
  opacity: 0;
  transition: all 1s;
}

.look:hover {
  opacity: 0.2;
}

.absolute {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  width: 25px;
  border:0;
  border-top-style: dotted;
  border-top-width: 0.2rem; 
}

@media all and (min-width: 1200px){
  .container {
    width: 40vw;
  }
}