* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: auto;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  height: 100vh;
}

main {
  padding: 2rem;;
  height: 100%;
}
div {

  border: 0.5rem solid #C05245;
}
img {
  width: 50%;
}

